<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72486212498-acanacjbsu3t1d6v9dbr5gfl2f8bllu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72486212498-acanacjbsu3t1d6v9dbr5gfl2f8bllu8</string>
	<key>API_KEY</key>
	<string>AIzaSyCsireoQ8RK2gocOMa_FcNutpEt5uPUADA</string>
	<key>GCM_SENDER_ID</key>
	<string>72486212498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ibm801227.Publisher</string>
	<key>PROJECT_ID</key>
	<string>publisher-a0fab</string>
	<key>STORAGE_BUCKET</key>
	<string>publisher-a0fab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72486212498:ios:0e7e91697f04b74c86e74b</string>
</dict>
</plist>